<%- include('partials/header.ejs') %>

    <h2> Welcome to Earth!</h2>

    <div class="container">
        <img src="/img/earth.jpg" alt="Planet Earth" width=800 /><br>
        <p>Earth is the third planet from the Sun. It is the only planet known to have life. 71% of the Earth’s surface is covered with water. Earth is estimated to have formed over 4.5 billion years ago. Life appeared in the oceans. Earth’s atmosphere is mostly nitrogen and oxygen. Earth orbits around the Sun in about 365.25 days.</p>
    </div>
    
    <div id=source>
        Source: <a href="https://en.wikipedia.org/wiki/Earth ">Earth</a>
    </div>
    
<%- include('partials/footer.ejs') %>