<%- include('partials/header.ejs') %>

    <h2> Welcome to Mars!</h2>
    
    <div class="container">

        <img src="/img/mars.png" alt="Planet Mars" width=800 /><br>

        <p>Mars is the fourth planet from the Sun. Mars is often referred to as the <strong id="mars">Red Planet</strong>. Mars has the largest volcano, Olympus Mons. Mariner 4 was the first spacecraft to visit Mars. Mars is Martian Manhunter’s home planet. Days and seasons in Mars are similar to Earth’s days and seasons.</p>
    </div>
    
    <div id=source>
        Source: <a href="https://en.wikipedia.org/wiki/Mars ">Mars</a>
    </div>
    
<%- include('partials/footer.ejs') %>