<%- include('partials/header.ejs') %>

    <h2> Welcome to Mercury!</h2>
    
    <div class="container">
        <img src="/img/mercury.jpg" alt="Planet Mercury" width=800 /><br>
        <p>Mercury is the smallest planet in the Solar System and nearest to the Sun. It is named after the Greek god Hermes. Mercury is one of four terrestrial planets in the Solar System. Even though Mercury is closest to the Sun, it is not the hottest planet. If you were standing on Mercury, the sun would appear more than three times larger that it does on Earth. </p>
    </div>

    <div id=source>
        Source: <a href="https://solarsystem.nasa.gov/planets/mercury/overview/">Mercury</a>
    </div>
<%- include('partials/footer.ejs') %>