<%- include('partials/header.ejs') %>
    <h2> Welcome to Venus!</h2>
    
    <div class="container">

        <img src="/img/venus.jpg" alt="Planet Venus" width=800 /><br>
    
        <p width=800>Venus is the second planet from the Sun. It is named after the Roman goddess of love and beauty. On rare occasions, Venus can be seen in broad daylight by the naked eye. Venus does not have any moons. It is sometime called Earth's "sister planet" because it is similar in size.</p>    
    </div>
    
    <div id=source>
        Source: <a href="https://en.wikipedia.org/wiki/Venus">Venus</a>
    </div>
<%- include('partials/footer.ejs') %>
